<div class="header bg-image">
  <header>
    <% if (theUser==null) { %>
      <h6>Not signed in.</h6>
    <%}else {%>
      <h6>Welcome <%= theUser.firstName %></h6>
    <%}%>
    <h1>Book Cave</h1>
    <h5>For the love of reading..</h5>
  </header>
</div>
