<div class="site_navigation">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="#">Store</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</div>
