<!DOCTYPE html>

<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/stylesheet/styles.css" type="text/css">

    <meta charset="UTF-8">
    <title>About</title>
	</head>

	<body>
    <% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>

		<div class="main">
      <h2>The right book in the right hands at the right time can change the world!</h2>
      <h2>Who we are?</h2>
      <h3>Book Cave is the site for readers and book recommendations.We also help users to share their blogs or any article they have written.
        It is a place where you can see what your friends are reading and vice versa. You can find your next favorite book.
        And on this journey with your friends you can explore new territory, gather information, and expand your mind.  </h3>

      <h2>Knowledge is power, and power is best shared among readers..</h2>


    </div>

    <% include partials/site-navigation.ejs %>

    <% include partials/footer.ejs %>
	</body>

</html>
