<!DOCTYPE html>

<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="/assets/stylesheet/styles.css" type="text/css">
		<meta charset="UTF-8">
			<title>Categories</title>
	</head>

	<body>

		<% include partials/header.ejs %>

		<% include partials/user-navigation.ejs %>

		<div class= "category">
			<% for(var i=0; i< data.categories.length; i++) { %>
				<table>
					<thead>
						<tr>
							<th><%= data.categories[i] %></th>
						</tr>
					</thead>

					<tbody>
						<%
						for(var j=0; j< data.items.length; j++){
							if(data.categories[i]===data.items[j].catalogCategory){ %>
								<tr>
									<td><a href = "/categories/item?itemCode=<%= data.items[j].itemCode%>"><%= data.items[j].itemName %></a></td>
								</tr>
							<% }
						}
						%>
					</tbody>

				</table>

		<%	} %>

		</div>

		<% include partials/site-navigation.ejs %>

		<% include partials/footer.ejs %>

		</body>
		</html>
