<!DOCTYPE html>

<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/stylesheet/styles.css" type="text/css">

    <meta charset="UTF-8">
    <title>Contact</title>
	</head>

	<body>
    <% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>

		<div class="main">
      <h2>Contact Us!</h2>
      <h3>Phone: +1 4484612378</h3>
      <h3>Email: bookcave@gmail.com</h3>

    </div>

    <% include partials/site-navigation.ejs %>

    <% include partials/footer.ejs %>
	</body>

</html>
